extends ../layout

append header
  .setting-bar
    .layout
      a(href="/notice/user", class={active: type === 'user'}) 用户消息
      a(href="/notice/system", class={active: type === 'system'}) 系统消息
block content
  .layout-content
    each item in data
      case item.type
        when 'like'
          .notice-item.like
            a(href=`/user/${item.author.id}`).avatar
              img(src=item.author.avatar)
            .detail
              .nickname #{item.author.nickname}
              .desc #{item.create_at}
              .topic
                span 喜欢了你的文章：
                a(href=`/topic/${item.topic.id}`) #{item.topic.title}
    else
      span 暂无消息
  .layout-sider
    include ../topic/no_reply.pug