extends ../layout.pug

append header
  .setting-bar
    .layout
      a(href="/notice/user", class={active: type === 'user'}) 用户消息
      a(href="/notice/system", class={active: type === 'system'}) 系统消息
block content
  .layout-content
    each item in data
      .notice-item
        a(href=`/user/${item.author.id}`).avatar
          img(src=item.author.avatar)
        .detail
          a.nickname(href=`/user/${item.author.id}`) #{item.author.nickname}
          .desc #{item.create_at}
          .topic
            case item.type
              when 'star'
                span 喜欢了你的话题：
              when 'collect'
                span 收藏了你的话题：
              when 'reply'
                span 回复了你的话题：
            a(href=`/topic/${item.topic.id}`) #{item.topic.title}
    else
      include ../includes/no_content.pug