extends ../layout.pug

block content
  .layout-content.attach
    .topic-detail
      .author
        a.avatar(href=`/user/${topic.author.id}`)
          img(src=topic.author.avatar)
        .text
          a(href=`/user/${topic.author.id}`) #{topic.author.nickname}
          span #{topic.create_at}
          span 阅读 #{topic.visit_count}
      h1.title #{topic.title}
      .markdown
        | !{topic.content}
      if user && user.id === topic.author_id
        .action
          a.btn.warn(href=`/topic/${topic.id}/edit`) 编辑
          a.btn.error(href=`/topic/${topic.id}/delete`) 删除
    .reply-title 评论
    .reply-create#reply
      if user
        .avatar(for="reply")
          img(src=user.avatar)
        form.reply-form(action=`/topic/${topic.id}/reply`, method="post")
          textarea(name="content", rows="2", placeholder="说说你的看法...")
          button.btn(type="submit") 评论
      else
        span 评论，请先
        a(href="/signin") 登录
    ul.reply-list
      each reply in topic.replies
        li
          a.avatar(href=`/user/${reply.author.id}`)
            img(src=reply.author.avatar)
          .detail
            a.nickname(href=`/user/${reply.author.id}`) #{reply.author.nickname}
            .content #{reply.content}
            .action
              a.practice(href="") &#xe72f; 2
              a.practice.action.up_reply(href="javascript:;") &#xe619; 3
              time #{reply.create_at_ago}
            if user && user.id === reply.author_id
              a.action.delete_reply(href="javascript:;", data-id=reply.id) 删除
              a.action.edit_reply(href="javascript:;") 编辑
              form.edit.reply-form(action=`/reply/${reply.id}/edit`, method="post")
                input(type="hidden", name="tid", value=topic.id)
                textarea(name="content", rows="2") #{reply.content}
                button.btn(type="submit") 保存
      else
        .no-reply 暂无回复
  aside.layout-sider
    .aside-block.topic-author
      .title 关于作者
      .info
        a.avatar(href=`/user/${topic.author.id}`)
          img(src=topic.author.avatar)
        a.nickname(href=`/user/${topic.author.id}`)
          | #{topic.author.nickname}
          if topic.author.location
            span.location.practice &#xe602;#{topic.author.location}
      .other
        .score 积分：#{topic.author.score}
        if topic.author.signature
          .signature(title=topic.author.signature) **#{topic.author.signature}**
        else
          .signature **这家伙很懒，莫有签名**
    include ../cards/no_reply_topic.pug
  .float-action
    a.practice.star-action(href="javascript:;", class={ active: topic.star }) &#xe63b;
      span.number #{topic.star_count}
    a.practice(href="#reply") &#xe619;
      span.number #{topic.reply_count}
    a.practice.collect-action(href="javascript:;", class={ active: topic.collect }) &#xe65f;
      span.number #{topic.collect_count}
  include ../includes/global_message.pug