extends ../layout

block content
  .layout-content.attach
    .topic-detail
      .author
        a.avatar(href=`/user/${topic.author.id}`)
          img(src=topic.author.avatar)
        .text
          a(href=`/user/${topic.author.id}`) #{topic.author.nickname}
          span #{topic.create_at}
          span 阅读 #{topic.visit_count}
      h1.title #{topic.title}
      .markdown
        | !{topic.content}
    .reply-title 评论
    .reply-create#reply
      if user
        .avatar(for="reply")
          img(src=user.avatar)
        form#replyForm.reply-form(action=`/topic/${topic.id}/reply`, method="post")
          textarea(name="content", rows="2", placeholder="说说你的看法...")
          button.btn.reply-btn(type="submit") 评论
      else
        span 评论，请先登录
    ul.reply-list
      each reply in topic.replies
        li
          a.avatar(href=`/user/${reply.author.id}`)
            img(src=reply.author.avatar)
          .detail
            a.nickname(href=`/user/${reply.author.id}`) #{reply.author.nickname}
            .content #{reply.content}
            .action
              a.practice(href="") &#xe72f;
              a.practice(href="") &#xe619; 
              time #{reply.create_at_ago}
      else
        span 暂无回复
  aside.layout-sider
    .aside-block.topic-author
      .title 关于作者
      .info
        a.avatar(href=`/user/${topic.author.id}`)
          img(src=topic.author.avatar)
        a.nickname(href=`/user/${topic.author.id}`)
          | #{topic.author.nickname}
          if topic.author.location
            span.location.practice &#xe602;#{topic.author.location}
      .other
        .score 积分：#{topic.author.score}
        if topic.author.signature
          .signature(title=topic.author.signature) **#{topic.author.signature}**
        else
          .signature **这家伙很懒，莫有签名**
    include ../topic/no_reply.pug
  .float-action
    a.practice.star-action(href="javascript:;", class={ active: topic.isStar }) &#xe63b;
      span.number #{topic.star_count}
    a.practice(href="#reply") &#xe619;
      span.number #{topic.reply_count}
    a.practice.collect-action(href="javascript:;", class={ active: topic.isCollect }) &#xe65f;
      span.number #{topic.collect_count}
  .message
    .message-notice
      .content
append footer
  script.
    $('#replyForm').submit(function() {
      if (!content) {
        globalMessage('error', '回复内容不能为空');
        return false;
      }
    });

    $('.star-action').click(function() {
      $.getJSON(`${location.pathname}/star_or_un`, function(res) {
        if (res.status === 1) {
          if (res.action === 'star') {
            $('.star-action .number').text(parseInt($('.star-action .number').text()) + 1);
            $('.star-action').addClass('active');
          } else {
            $('.star-action .number').text(parseInt($('.star-action .number').text()) - 1);
            $('.star-action').removeClass('active');
          }
        } else {
          globalMessage('error', res.message);
        }
      });
    });

    $('.collect-action').click(function() {
      $.getJSON(`${location.pathname}/collect_or_un`, function(res) {
        if (res.status === 1) {
          if (res.action === 'collect') {
            $('.collect-action .number').text(parseInt($('.collect-action .number').text()) + 1);
            $('.collect-action').addClass('active');
          } else {
            $('.collect-action .number').text(parseInt($('.collect-action .number').text()) - 1);
            $('.collect-action').removeClass('active');
          }
        } else {
          globalMessage('error', res.message);
        }
      });
    });
