dl.topic-list
  each topic in topics
    dd.topic
      a.avatar(href=`/user/${topic.author.nickname}`)
        img(src=topic.author.avatar)
      .statistics
        span #{topic.reply_count} 回复
        span  / 
        span #{topic.visit_count} 阅读
      .topic-content
        .title
          if topic.top
            span.tag.active 置顶
          else if topic.good
            span.tag.active 精华
          else
            span.tag #{topic.tabName}
          a(href=`/topics/${topic.id}`) #{topic.title}
      .last-time
        - var now = (new Date()).getTime();var lastTime = (new Date(topic.last_reply_at)).getTime();
        - var limit = now - lastTime;
        if limit < (1000 * 60)
          span 发布于
          span 小于1分钟
        else if limit < (1000 * 60 * 60)
          span 发布于
          span #{Math.floor(limit / (1000 * 60))}分钟前
        else if limit > (1000 * 60 * 60) && limit < (1000 * 60 * 60 * 24)
          span 发布于
          span #{Math.floor(limit / (1000 * 60 * 60))}小时前
        else if limit > (1000 * 60 * 60 * 24) && limit < (1000 * 60 * 60 * 24 * 30)
          span 发布于
          span #{Math.floor(limit / (1000 * 60 * 60 * 24))}天前
        else if limit > (1000 * 60 * 60 * 24 * 30) && limit < (1000 * 60 * 60 * 24 * 12)
          span 发布于
          span #{Math.floor(limit / (1000 * 60 * 60 * 24 * 30))}月前
        else
          span 很久以前
- var baseUrl = `/?tab=${typeof tab !== undefined ? tab : ''}&page=`
ul.pagination
  if currentPage === 1
    li.disabled
      a.practice &#xe640;
  else
    li
      a.practice(href=`${baseUrl}${currentPage - 1}`) &#xe640;
  - for(var i = 1; i <= pages; i++) {
      if currentPage === i
        li.active.disabled
          a #{i}
      else
        li
          a(href=`${baseUrl}${i}`) #{i}
  - }
  if currentPage === pages
    li.disabled
      a.practice &#xe63f;
  else
    li
      a.practice(href=`${baseUrl}${currentPage + 1}`) &#xe63f;