doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)
    title #{title} - 薄荷糖社区
    if config.site_icon
    link(rel="shortcut icon", href=config.site_icon, type="image/x-icon")
    //- styles
    link(rel="stylesheet", href="/static/css/style.css")
  body
    include includes/header
    .main
      .layout
        block content
      .back-top
        i.practice.pra-up
    include includes/footer    
    //- scripts
    script(src="/static/libs/jquery-3.3.1.min.js")
    script(src="/static/js/main.js")