extends ../layout

block content
  .user-top100
    .title 积分榜前一百用户
    ul.list
      li
        span.rank #
        span.nickname 昵称
        span.score 积分
        span.topics 话题数
        span.follower 粉丝数
      each item, index in top100
        li
          span.rank #{index + 1}
          span.nickname
            a.avatar(href=`/user/${item.id}`)
              img(src=item.avatar)
            a(href=`/user/${item.id}`) #{item.nickname}
          span.score #{item.score}
          span.topics #{item.topic_count}
          span.follower #{item.follower_count}


