extends ../../layout.pug

append head
  link(rel="stylesheet", href="/static/lib/simplemde/simplemde.min.css")
block content
  .topic-create
    .title #{topic ? '编辑话题' : '发布话题'}
    form#createTopic.form(method="post")
      .form-item
        label.label(for="tab")
        .control
          input.select-hidden(type="hidden", name="tab", value=topic && topic.tab)
          .select
            a.placeholder(href="javascript:;") #{topic ? topic.tabName : '请选择类别'}
            .options
              each item in config.tabs
                .option(data-value=item.url) #{item.name}
      .form-item
        label.label(for="title") 标题：
        .control
          input#title(type="text", name="title", autocomplete="off", value=topic && topic.title)
      .form-item
        label.label(for="content") 内容：
        .control
          input.content-hidden(type="hidden", name="content")
          textarea#editor #{topic ? topic.content : ''}
      .form-item
        .control
          button.btn.submit(type="submit") 发布话题
  include ../../includes/components/global_message.pug
append footer
  script(src="/static/lib/simplemde/simplemde.min.js")
  script.
    var simplemde = new SimpleMDE({ element: $("#editor")[0] });
    var tab = $('.select-hidden');
    var title = $('#title');
    var alert = $('.alert');

    $('#createTopic').submit(function() {
      if (!tab.val()) {
        Utils.globalMessage('error', '请选择分类');
        return false;
      } else if (!title.val()) {
        Utils.globalMessage('error', '标题不能为空');
        return false;
      } else if (!simplemde.value()) {
        Utils.globalMessage('error', '内容不能为空');
        return false;
      }
      $('.content-hidden').val(simplemde.value());
    });
